@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

*{
	font-family: Arial, Helvetica, sans-serif; 

}
 
#outerAppName{
	font-family: sniglet;
	font-size: 90px; 
}

body{
	background: #56CCF2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.messageBox{
	height: 100px;
	width: 100%;
}

.messagesent{
	border-radius: 10px;
	padding: 4px;
	background-color: #0390fc;
	color: white;
	margin: 0px;
	margin-top: 5px; 
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	width: fit-content; 
	max-width: 80%;
	margin-left: auto;
	margin-right: 0;
}

.messagesent p{
	padding: 3px;
	margin: 0;
	overflow-wrap: break-word;
	font-family: Arial, Helvetica, sans-serif; 
}
.messagereceived{
	border-radius: 10px;
	padding: 4px;
	background-color: rgb(230, 230, 232); 
	color: black;
	margin: 0px;
	margin-top: 5px; 
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	width: fit-content;
	max-width: 80%;
}

.messagereceived p{
	padding: 3px;
	margin: 0;
	overflow-wrap: break-word;
	font-family: Arial, Helvetica, sans-serif; 
}

.message{
	font-size: 17px;
}

.chatroom{
	max-width: 700px;
	width: 500px;
	height: 80vh; 
}

.signIn{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.outer{ 
	position: absolute; 
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.auth{
	margin: 20px;
	width: 100%;
	font-size: 20px;
}

.auth button{
	font-size: 20px;
}

.username{
	font-size: 7px;
	font-weight: 700;
}

.auth button{
	width: 100%;
	height: 100%;
}

.sender{
	width: inherit;
	height: 10vh;
	text-align: right;
	background-color: transparent; 
	border-radius: 3px;
	margin-top: 5px;
	padding-top: 10px;
}

.sender button{
	height: 100%;
	font-size: 15px;
	padding: 8px;
}

.joinKey{
	font-size: 25px;
	font-weight: 600;
}

.joinKey input{
	height: 25px;
	font-size: 23px;
}

.joinKey button{
	height: 30px;
	font-size: 23px;
}
/* --------------------   This is the divider     -------------- */
/* Below code up to the divider is for the chat channel */

/* width, Uncomment to see the scroll bar */        
/* ::-webkit-scrollbar {
	width: 10px;
} */

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle, uncomment to see the actual scroll dragger */
/* ::-webkit-scrollbar-thumb {
	background: #888;
} */

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
  
.scroll {
	display: block;
	margin-top: 5px;
	padding-right: 15px;
	width: 100%;
	height: 70vh;
	overflow-y: scroll;
}

#messageReader{
	/* Makes the input textbox longer. 80% of the sender div*/
	width: 70%;
	border-radius: 25px;
	border: 1px transparent; 
	padding: 5px;
	padding-left: 20px;
	font-size: 17px;
}

/* --------------------   This is the divider     -------------- */

/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

