@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

*{
	font-family: Arial, Helvetica, sans-serif; 

}
 
#outerAppName{
	font-family: sniglet;
}

body{
	background: #56CCF2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.messageBox{
	height: 100px;
	width: 300px; 
	margin: 20px;
}

.messagesent{
	border-radius: 10px;
	padding: 4px;
	background-color: #0390fc;
	color: white;
	margin: 0px;
	margin-top: 5px; 
	text-align: right;
	padding-left: 5px;
	padding-right: 5px;
	width: fit-content; 
	max-width: 80%;
	margin-left: auto;
	margin-right: 0;
}

.messagesent p{
	margin: 0;
	overflow-wrap: break-word;
	font-family: Arial, Helvetica, sans-serif; 
}
.messagereceived{
	border-radius: 10px;
	padding: 4px;
	background-color: rgb(230, 230, 232); 
	color: black;
	margin: 0px;
	margin-top: 5px; 
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	width: fit-content;
}

.messagereceived p{
	margin: 0;
	overflow-wrap: break-word;
	font-family: Arial, Helvetica, sans-serif; 
}

.message{
	font-size: 11px;
}

.chatroom{
	max-width: 400px;
}

.signIn{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.outer{
	position: absolute; 
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.auth{
	margin: 20px;
	width: 100%;
}

.username{
	font-size: 5px;
	font-weight: 700;
}

.auth button{
	width: 100%;
	height: 100%;
}

.sender{
	width: inherit;
	text-align: right;
	background-color: transparent; 
	border-radius: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* --------------------   This is the divider     -------------- */
/* Below code up to the divider is for the chat channel */

/* width, Uncomment to see the scroll bar */        
/* ::-webkit-scrollbar {
	width: 10px;
} */

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle, uncomment to see the actual scroll dragger */
/* ::-webkit-scrollbar-thumb {
	background: #888;
} */

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
  
.scroll {
	display: block;
	margin-top: 5px;
	width: 100%;
	height: 300px;
	overflow-y: scroll;
}

#messageReader{
	/* Makes the input textbox longer. 80% of the sender div*/
	width: 80%;
	border-radius: 25px;
	border: 1px transparent; 
	padding: 5px;
}

/* --------------------   This is the divider     -------------- */